### Wrangle Exercises - Regression Module

In [5]:
#Imports for the function:
import numpy as np
import pandas as pd
from env import get_db_url
import os
import warnings
warnings.filterwarnings('ignore')

**Build the acquire function and explore the pulled dataset**

In [ ]:
def acquire_zillow():
    '''
    '''
    #assign the file name
    filename = 'zillow.csv'
    #check if the file exists in the current directory and read it if it is
    if os.path.exists(filename):
        print('Reading from csv file...')
        return pd.read_csv(filename)
    #assign the sql query to a variable for use
    query = '''
    SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
    FROM properties_2017
    WHERE propertylandusetypeid = 261
    '''
    #if needed pull a fresh copy of the dataset from the database and save localy
    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, get_db_url('zillow'))
    df.to_csv(filename, index=False)
    return df

In [ ]:
df = acquire_zillow()
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

**Built the data cleaning function**
- using information found above
- verify the cleaned data

In [ ]:
def clean_zillow(df):
    df = df.dropna(subset =['bedroomcnt', 'calculatedfinishedsquarefeet', 'yearbuilt'])
    df['taxamount'].fillna(df.taxamount.median(), inplace=True)
    df['taxvaluedollarcnt'].fillna(df.taxvaluedollarcnt.median(), inplace=True)
    return df

In [ ]:
df = clean_zillow(df)
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

### Use the function from the wrangle.py file to acquire and clean the data
- after moving the above created function to the wrangle.py file and combining the acquire and clean into one wrangle_zillow function

In [1]:
from wrangle import wrangle_zillow

In [6]:
df = wrangle_zillow()
df.head()

Reading from csv file...

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [7]:
df.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64